* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: roboto;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65DFC9, #6CDBEB);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.glass {
    display: flex;
    background-color: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.2)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
}

.circle1, .circle2, .circle3 {
    background-color: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.8), 
        rgba(255,255,255,0.3)
    );
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    top: 3%;
    right: 15%;
    background-color: cornflowerblue;
}

.circle2 {
    height: 30rem;
    width: 30rem;
    bottom: -15%;
    left: 10%;
    background-color: aquamarine;
}

.circle3 {
    height: 10rem;
    width: 10rem;
    bottom: 5%;
    right: 5%;
    background-color: coral;
}

.avt-img {
    --avatar--: 100px;
    width: var(--avatar--);
    height: var(--avatar--);
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.2)
    );
    border-radius: 2rem;
}

.user {
    text-align: center;
}

.games {
    flex: 3;
}

.link {
    padding: 0.5rem 0rem;
    display: block;
    padding-left: 5px;
    color: rgb(51, 51, 51);
    /* align-items: center; */
}

.dashboard-icon {
    position: relative;
    overflow: unset;
}

.dashboard-icon h2 {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
}